<h1 [ngClass]="{
  'is-big is-red': isRed,
  'is-blue': !isRed
}">Street Fighter 6</h1>

<h1 [class]="{
  'is-red': isRed,
  'is-blue': !isRed
}">Tekken 8</h1>

<button (click)="setToRed()">Vermelho</button>

<button (click)="setToBlue()">Azul</button>

<!-- Strings -->
<h1 [ngClass]="'is-big is-red'">KOF XV</h1>
<h1 [class]="'is-big is-red'">KOF XV</h1>

<!-- Arrays -->
<h1 [ngClass]="['is-big', 'is-blue']">Mortal Kombat 11</h1>
<h1 [class]="['is-big', 'is-blue']">Mortal Kombat 11</h1>

<!-- Objetos -->
<h1 [ngClass]="{ 'is-red': isRed, 'is-blue': !isRed, }">Fatal Fury</h1>
<h1 [class]="{ 'is-red': isRed, 'is-blue': !isRed, }">Fatal Fury</h1>

<!-- Diferencial -->
<h1 [ngClass]="{ 'is-big is-red': isRed, 'is-blue': !isRed, }">Art of Fighting</h1>
<h1 [class]="{ 'is-big': isRed, 'is-red': isRed, 'is-blue': !isRed, }">Art of Fighting</h1>

<h1 [ngClass]="{ 'is-red': isRed, }">Dead or Alive</h1>
<h1 [class.is-red]="isRed">Dead or Alive</h1>